<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mua dong khong lanh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Mua dong khong lanh</h1>
    <a href="{{ url_for('searching', g=0) }}">Bạn là nam?</a>
    <a href="{{ url_for('searching', g=1) }}">Bạn là nữ?</a>
</body>
</html>