<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div>

        <h2>Name</h2>
        <p>Le Hoai Phuong</p>
        <h3>Work</h3>
        <p>ViCare Corp</p>
        <h3>Hobbies</h3>
        <p>Long run, Read, Painting</p>
        <h3>Pets</h3>
        <p>Min, Chun, Meowchan</p>
    </div>
</body>
</html>